# config.yaml
github_repositories:
  - "jenkinsci/git-client-plugin"

# Other config...
data_paths:
  raw: "data/raw/"
  processed: "data/processed/"
  metadata: "data/metadata/" # Path for processed_prs.log relative to RCLONE_REMOTE base
rclone_remote_name: "chameleon_s3" # Name of your rclone remote configured with rclone

# Heuristics/Filters for discovering PRs
filters:
  min_comments: 3 # Minimum number of review comments a PR must have
  state: "merged" # Fetch PRs with this state ("open", "closed", "merged", "all")